<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container">
  <div class="row">

    <div class="col-m1" routerLink="/assayview-home" data-toggle="tooltip" data-placement="top" title="Upload and view Assay Definition Files.">
      <div class="inner-div">
        <div class="profile-card text-center">
          <div class="profile-info">
            <div class="card-img-overlay">
              <img src="../assets/panther.png" height="auto" width="180px" />
              <div class="padding-text">Assay <br> Viewer </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-m1" routerLink="/curverepo-upload" data-toggle="tooltip" data-placement="top" title="Upload, Download, and view statistics of curve files">
      <div class="inner-div">
        <div class="profile-card text-center">
          <div class="profile-info">
            <div class="card-img-overlay">
              <img src="../assets/panther.png" height="auto" width="180px" />
              <div class="padding-text">Curve Repository </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-m1" routerLink="/reportrepo-frontpage" data-toggle="tooltip" data-placement="top" title="Upload, Download and View Reports">
      <div class="inner-div">
        <div class="profile-card text-center">
          <div class="profile-info">
            <div class="card-img-overlay">
              <img src="../assets/panther.png" height="auto" width="180px" />
              <div class="padding-text">Report Repository </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-m1" routerLink="/runexport-home" data-toggle="tooltip" data-placement="top" title="Upload, Download and View Reports">
      <div class="inner-div">
        <div class="profile-card text-center">
          <div class="profile-info">
            <div class="card-img-overlay">
              <img src="../assets/panther.png" height="auto" width="180px" />
              <div class="padding-text">Run Export Viewer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>